{% extends 'framework/layouts/blank.j2' %}

{% block app_layout %}
  <el-row class="px-5 py-2 mb-6 lime lighten-4 elevation-1">
    <el-page-header @back="goBack" content="{{ was.app.config.get ("SITE_NAME", "HTTP-SFC") }}"></el-page-header>
  </el-row>
  {{ super () }}
   <el-footer>
    <page-footer></page-footer>
  </el-footer>
{% endblock %}

{% block vue_components %}
  {{ component ('examples/layouts/page-footer.vue') }}
{% endblock %}

<script>
{% block vue_methods %}
  {{ super () }}
  goBack() {
    history.go (-1)
  },
{% endblock %}
<script>
