{% extends 'framework/layouts/' + context.get ('layout', "3piece") + ".j2" %}

{% block head %}
  <title>공감과 비판</title>
  <meta property="og:title" content="The Rock" />
  <meta property="og:type" content="video.movie" />
  <meta property="og:url" content="http://www.imdb.com/title/tt0117500/" />
  <meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
  <meta name="description" content="페이지 설명" />
  {{ super () }}
{% endblock %}

{% block style %}
    {%include 'pages/examples/include/style.j2' %}
{% endblock %}

{% block vue_components %}
  {{ component ('examples/layouts/page-header.vue') }}
  {{ component ('examples/layouts/page-footer.vue') }}
  {{ component ('examples/layouts/page-aside.vue') }}
{% endblock %}
