<el-row :gutter="40" class="pa-4 text-center overline text-capitalize mt-8 grey lighten-3 elevation-0">
  Copyright&copy; 2019-Present. <a href='https://gitlab.com/hansroh/vuepy' class='w-700'>VuePy</a>
</el-row>
