{% load i18n %}

<div class="app-actions module">
    <table>
    <caption>
        <div class="section">Actions</div>
    </caption>
    <tr class="model-actions">

        <th scope="row"><a href="{% url 'admin:dashboard' %}">대시보드</a></th>
        <td><a href="{% url 'admin:dashboard' %}" class="viewlink">{% trans 'View' %}</a></td>
    </tr>
    </table>
</div>
