{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; ACTIONS
&rsaquo; {{ pg_title }}
</div>
{% endblock %}

{% block title %}{{ pg_title }}{% endblock %}

{% block content %}

<h1>{{ pg_title }}</h1>

<p>Loem ipsum</p>

{% endblock %}
