{% extends 'framework/layouts/blank.j2' %}

{% block el_main %}
  {% if not was.app.config.get ("DISABLE_ANONYMOUS_LOGIN", False) %}
    <login-form></login-form>
  {% endif %}
  <firebase-account
    v-if='context.frontendConfig.firebaseConfig'
    terms-of-use-url = "/"
    profile-edit-url="/"></firebase-account>
{% endblock %}

{% block state_map %}
  {{
    map_route (
      loginUrl = "backbone.auth.login_with_email",
      loginWithFirebaseIdToken = "backbone.auth.login_with_firebase_id_token",
      firebaseCustomToken = "backbone.auth.firebase_custom_token",
      firebaseUsers = "backbone.auth.firebase_users",
      loginForm = "backbone.auth.login",
      signupForm = "backbone.auth.signup",
      nickName = 'backbone.auth.nick_name',
      updateProfile = 'backbone.users.patch_profile'
    )
  }}
  {{ map_dict ('context', nextUrl = context.get ("next_url", request.uri), frontendConfig = was.app.config.FRONTEND_CONFIG) }}
  {% if was.app.config.FRONTEND_CONFIG %}
    {{ set_cloak () }}
  {% endif %}
{% endblock %}

<script>
{% block vue_components %}
  {{ super () }}
  {{ component ('examples/auth/login-form.vue') }}
  {{ component ('examples/auth/firebase-account.vue') }}
{% endblock %}
</script>
