{% extends 'layouts/example_tb.j2' %}

{% block el_main %}
  <firebase-change-password v-if='context.frontendConfig.firebaseConfig'></firebase-change-password>
{% endblock %}

{% block state_map %}
  {{ map_route (homeUrl = "views.examples.index.index") }}
  {{ map_dict ('context', frontendConfig = was.app.config.FRONTEND_CONFIG) }}
{% endblock %}

<script>
{% block vue_components %}
  {{ super () }}
  {{ component ('examples/auth/firebase-change-password.vue') }}
{% endblock %}
</script>

