{% extends 'layouts/example_tb.j2' %}

{% block el_main %}
  <firebase-account is-signup profile-edit-url="/" v-if='context.frontendConfig.firebaseConfig'></firebase-account>
{% endblock %}

{% block state_map %}
  {{
    map_route (
      loginWithFirebaseIdToken = "backbone.auth.login_with_firebase_id_token",
      loginForm = "backbone.auth.login",
      signupForm = "backbone.auth.signup",
      nickName = 'backbone.auth.nick_name',
      updateProfile = 'backbone.users.patch_profile'
    )
  }}
  {{ map_dict ('context', nextUrl = next_url, frontendConfig = was.app.config.FRONTEND_CONFIG) }}
  {% if was.app.config.FRONTEND_CONFIG %}
    {{ set_cloak () }}
  {% endif %}
{% endblock %}

<script>
{% block vue_components %}
  {{ super () }}
  {{ component ('examples/auth/firebase-account.vue') }}
{% endblock %}
</script>
