{% extends 'framework/layouts/blank.j2' %}

{% block el_main %}
  <firebase-cloud-messaging v-if='context.frontendConfig.webPush'></firebase-cloud-messaging>
{% endblock %}

{% block state_map %}
  {{ map_route (homeUrl = "views.examples.index.index") }}
  {{ map_dict ('context', frontendConfig = was.app.config.FRONTEND_CONFIG) }}
{% endblock %}

<script>
{% block vue_components %}
  {{ super () }}
  {{ component ('examples/auth/firebase-cloud-messaging.vue') }}
{% endblock %}
</script>

