<template>
  <el-row type="flex" justify="center">
    <el-col :xs="16" :sm='12' :md='10' :lg="8" :xl="6">
      <el-form :model="form" ref="form" :rules="rules" label-width="140px" size="small" label-position='top'>
        <h3 class='text-center'>Change Password</h3>
        <el-form-item prop="password" label="Password">
        <el-input type="password" v-model="form.password" clearable></el-input>
        </el-form-item>

        <el-form-item prop="password_" label="Confirm Password">
        <el-input type="password" v-model="form.password_" clearable></el-input>
        </el-form-item>

        <el-form-item class='text-center'>
        <el-button type="warning" @click="submitForm"><span class="w-700">Change Password</span></el-button>
        <el-button @click="resetForm">Reset</el-button>
        </el-form-item>

      </el-form>
    </el-col>
  </el-row>
</template>

<style>
  .el-input__inner {
    height: 32px !important;
    line-height: 32px !important;
  } /* forgot password input */

</style>

<script lang="babel">
  export default {
    data () {
      const validatePassword = (rule, value, callback) => {
        if (value !== this.form.password) callback (new Error ('Password does not match'))
        else callback ()
      }

      const rules = {
        password: [
          { required: true, min: 8, max: 20, message: 'Length should be 8 to 20', trigger: ['blur', 'change'] },
        ],
        password_: [
          { required: true, validator: validatePassword, trigger: ['blur', 'change'] }
        ],
      }

      return {
        form: {
          password: '', password_: '',
        },
        rules
      }
    },

    computed: {
      ...mapVuexItems (),
      config () {
        return this.context.frontendConfig
      },
    },

    mounted () {
      this.$load_script ( [ this.config.firebaseScripts.appScriptUrl, this.config.firebaseScripts.authScriptUrl ], this.initFirebase)
    },

    methods: {
     goNext () {
       location.history.back ()
     },

     initFirebase () {
        firebase.initializeApp(this.config.firebaseConfig)
        this.reauthorize ()
     },

     async reauthorize () {
        const userProvidedPassword = await this.$uprompt (
            'Current Password',
            'Please Enter Your Current Password',
            /.{8,20}/,
            'Required 8-20 characters',
            'password'
        )

        if (!userProvidedPassword) {
            this.$ualert ('Password Change Canceled', 'You just canceled password change', this.goNext)
            return
        }
        this.$uloading (true, 'Authorizing...')
        const user = firebase.auth().currentUser
        const credential = firebase.auth.EmailAuthProvider.credential(
            user.email,
            userProvidedPassword
        )
        try {
            await user.reauthenticateWithCredential (credential)
            this.$uloading (false)
        } catch (error) {
            this.$uloading (false)
        }

      },

      // change password ---------------------------------
      async submitForm () {
        try {
          await this.$refs.form.validate ()
        } catch (e) {
          this.$unotify ('Invalid Form', 'Please review your inputs with red text', 'error')
          return
        }
        this.$uloading (true, 'Requesting...')
        try {
          await firebase.auth().currentUser.updatePassword (this.form.password)
          this.$ualert ('Password Changed', 'Your password has been updated successfully.', this.goNext)
        } catch (error) {
          this.$uloading (false)
          this.$unotify ('Changing Password Error', this.$traceback (error), 'error')
        }
      },

      resetForm () {
        this.$refs.form.resetFields ()
      },
    },
  }
</script>
