<style scoped>
  .btn-login {width: 200px; text-align: left;}
  .btn-login i { width: 8px; border-right: 1px solid #ccc; }
  #naverIdLogin {background-color: #1EC800; }
</style>

<template>
  <el-row type="flex" justify="center">
    <el-col :xs="16" :sm='12' :md='10' :lg="8" :xl="6">
      <el-form :model="form" ref="form" :rules="rules" label-width="140px" size="small" label-position='top'>
        <h3 class='text-center'>Sign Up</h3>
        <el-form-item prop="email" label="Email">
        <el-input v-model="form.email" clearable></el-input>
        </el-form-item>

        <el-form-item prop="password" label="Password">
        <el-input type="password" v-model="form.password" clearable></el-input>
        </el-form-item>

        <el-form-item prop="password_" label="Confirm Password">
        <el-input type="password" v-model="form.password_" clearable></el-input>
        </el-form-item>

        <el-form-item class='text-center'>
        <el-button type="primary" @click="submitForm"><span class="w-700">Sign Up</span></el-button>
        <el-button @click="resetForm">Reset</el-button>
        </el-form-item>

      </el-form>
    </el-col>
  </el-row>

</template>

<script lang="babel">
  export default {
    data () {
      const validatePassword = (rule, value, callback) => {
        if (value !== this.form.password) callback (new Error ('Password does not match'))
        else callback ()
      }

      const rules = {
        email: [
          { required: true, message: 'Please input email address', trigger: 'blur' },
          { min: 6, max: 64, message: 'Length should be 6 to 64', trigger: ['blur', 'change'] },
          { type: 'email', message: 'Please input correct email address', trigger: ['blur', 'change'] },
        ],
        password: [
          { required: true, min: 8, max: 20, message: 'Length should be 8 to 20', trigger: ['blur', 'change'] },
        ],
        password_: [
          { required: true, validator: validatePassword, trigger: ['blur', 'change'] }
        ],
      }

      return {
        form: {
          email: '', password: '', password_: '',
        },
        rules,
        provider_data: null,
        aborted: false,
      }
    },

    computed: {
      ...mapVuexItems (),
      config () {
        return this.context.frontendConfig
      },
    },

    mounted () {
      this.$uloading ('Checking Status...', 1.0)
      this.$load_script ( [ this.config.firebaseScripts.appScriptUrl, this.config.firebaseScripts.authScriptUrl ], this.initFirebase)
    },

    methods: {
      goNext () {
        location.href = this.context.nextUrl
      },

      initFirebase () {
        firebase.initializeApp(this.config.firebaseConfig)
        firebase.auth().onAuthStateChanged (async (user) => {
          if (user) {
            if (!this.form.email) {
              this.$uloading ()
              this.$ualert ('Already Signed In', 'You may be already signed in. Please sign out first.',this.goNext)
              return
            }
            try {
              if (!user.emailVerified) {
                this.$uloading ('Sending Verification Email...')
                try { await user.sendEmailVerification () }
                catch (error) {}
              }
              this.$uloading ('Authorizing...')
              this.provider_data = firebase.auth().currentUser.providerData[0]
              const idToken = await firebase.auth().currentUser.getIdToken(false)
              this.$emit ('new-member', {user, idToken})
            } catch (error) {
              this.$set_cloak (false)
              this.$uloading ()
              this.$unotify ('Sign Up Error', this.$traceback (error), 'error')
            }
          } else if (!this.aborted) {
            if (this.aborted) {
              this.$uloading ('Canceling...')
            } else {
              this.$set_cloak (false)
              this.$uloading ()
            }
          }
        })
      },

      async continueSignIn (payload) {
        const user = payload.user
        const idToken = payload.idToken

        if (!user.emailVerified) {
          this.$uloading ('Sending email for validation...')
          try { await user.sendEmailVerification () }
          catch (error) {}
        }
        try {
          const resp = await this.$http.post (this.$urlfor ('loginWithFirebaseIdToken'), {id_token: idToken})
          this.$uloading ()
          this.$ls.set ('access_token', resp.data.access_token)
          this.$ls.set ('refresh_token', resp.data.refresh_token)
          this.provider_data.is_member = resp.data.is_member
          this.provider_data.email_verified = user.emailVerified
          this.$emit ('logged-in', resp.data.nick_name, this.provider_data)
        } catch (error) {
          this.$set_cloak (false)
          this.$uloading ()
          this.$unotify ('Sign Up Error', this.$traceback (error), 'error')
        }
      },

      // login with eamil and password ---------------------------------
      async submitForm () {
        try {
          await this.$refs.form.validate ()
        } catch (e) {
          this.$unotify ('Invalid Form', 'Please review your inputs with red text', 'error')
          return
        }

        this.$uloading ('Creating Account...')
        try {
          const result = await firebase.auth().createUserWithEmailAndPassword(this.form.email, this.form.password)
        } catch (error) {
          this.$uloading ()
          this.$unotify ('Sign Up Error', this.$traceback (error), 'error')
        }
      },

      resetForm () {
        this.$refs.form.resetFields ()
      },
    },
  }
</script>
