<template>
  <div>
    <firebase-signup-form ref="form1" v-if="isSignup" @logged-in='(nick_name, provider_data) => { handleLogin (nick_name, provider_data) }'></firebase-signup-form>
    <firebase-login-form ref="form2" v-else @logged-in='(nick_name, provider_data) => { handleLogin (nick_name, provider_data) }'></firebase-login-form>

    <el-dialog title="Welcome Aboard" :visible.sync="dialogFormVisible"
      :close-on-press-escape='false' :close-on-click-modal='false' :show-close='false'>

      <el-form :model="profile" :rules="rules" :label-width="formLabelWidth" ref='profileForm' label-position='top'>
        <el-form-item label="Nick Name" prop='nick_name'>
          <el-input v-model="profile.nick_name" autocomplete="on" clearable></el-input>
        </el-form-item>
        <el-form-item v-if="!emailProvided" label="Email Address" prop='email'>
          <el-input v-model="profile.email" autocomplete="on" clearable></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm ()">Register</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script lang="babel">
  export default {
    components: {
      'firebase-login-form': httpVueLoader ('/components/examples/auth/firebase-login-form.vue'),
      'firebase-signup-form': httpVueLoader ('/components/examples/auth/firebase-signup-form.vue'),
    },

    props: {
      isSignup: {
        type: Boolean,
        default: false
      },
      termsOfUseUrl: {
        type: String,
        default: '/'
      },
      profileEditUrl: {
        required: true,
        type: String
      },
    },

    computed: {
      ...mapVuexItems (),
      currentForm () {
        return this.isSignup ? this.$refs.form1 : this.$refs.form2
      }
    },

    data () {
      const rules = {
        nick_name: [
          { required: true, min: 2, max: 40, message: 'Length should be 2 to 20', trigger: ['blur', 'change'] },
          { validator: this.validateNickname, trigger: ['blur', 'change'] }
        ],
        email: [
          { required: true, message: 'Please input email address', trigger: 'blur' },
          { min: 6, max: 64, message: 'Length should be 6 to 64', trigger: ['blur', 'change'] },
          { type: 'email', message: 'Please input correct email address', trigger: ['blur', 'change'] },
        ],
      }

      return {
        debug: false,
        rules,
        dialogFormVisible: false,
        formLabelWidth: '120px',
        emailProvided: false,
        profile: {},
      }
    },

    mounted () {
      if (this.debug) {
        const payload = {
          displayName: null,
          //email: "hrroh1@sns.co.kr",
          phoneNumber: null,
          photoURL: null,
          providerId: "password",
          uid: "hrroh1@sns.co.kr",
        }
        this.handleLogin (null, payload)
      }
    },

    methods: {
      async validateNickname (rule, value, callback) {
        try {
          const responseData = await this.$http.put(`/apis/auth/nick_names/${this.profile.nick_name}`)
          return callback ()
        } catch (error) {
          return callback(new Error('Nick name is unavailable'))
        }
      },

      async submitForm () {
        try {
          const valid = await this.$refs.profileForm.validate ()
          if (valid) {
            await this.postProfile ()
            this.$set_cloak (false)
            this.dialogFormVisible = false
            this.$ualert ('Update Success', 'Thank you for updating', this.currentForm.goNext)
          }
        } catch (error)  {
          this.$unotify ('Error', 'Invalid form, check red texted field', 'error')
        }
      },

      async postProfile () {
        try {
          this.$uloading ('Updating...', 1.0)
          const resp = await this.$http.patch (this.$urlfor ('updateProfile', ['me']), this.profile)
          return resp.data.new_nick_name
        } catch (error) {
          this.$ls.set ('profile', this.profile) // for later
        }
        return null
      },

      async handleNewMember (payload) {
        this.$uloading ()
        const ans = await this.$uconfirm ('Terms Of Use', `Do you agree with <a href="${this.termsOfUseUrl}" target="_blank"><b>Terms of Use</b></a>?`, 'info', true, 'Agree', 'Do not agree')
        if (ans) {
          this.currentForm.continueSignIn (payload)
        } else {
          this.currentForm.aborted = true
          this.currentForm.context.nextUrl = '/'
          try {
            await firebase.auth ().signOut ()
          } catch (error) {
            this.$traceback (error)
          }
          this.$ualert ('Rejection', 'You rejected our term of use. Go to main page in a few seconds', this.currentForm.goNext)

        }
      },

      async handleLogin (current_nick_name, provider_data) {
        if (!provider_data.is_member) {
          this.profile.maybe_nick_name = provider_data.displayName
          this.profile.email = provider_data.email || ''
          this.profile.phone_no = provider_data.phoneNumber || ''
          this.profile.photo_url = provider_data.photoURL || ''
          this.profile.provider = provider_data.providerId || ''
          this.profile.name = provider_data.name || ''
          this.profile.gender = provider_data.gender || ''
          this.profile.email_verified = provider_data.email_verified
          if (!!this.profile.gender) {
            this.profile.gender = this.profile.gender.substring (0,1).toUpperCase ()
          }
          current_nick_name = await this.postProfile ()
        } else {
          const profile = this.$ls.get ('profile')
          if (profile !== null ) {
            this.profile = profile
            this.$ls.remove ('profile')
          }
          if (provider_data.email_verified !== undefined) {
            this.profile.email_verified = provider_data.email_verified
          }
          if (Object.keys(this.profile).length) {
            current_nick_name = await this.postProfile ()
          }
        }

        if (!!!current_nick_name) {
          this.$uloading ()
          this.$set_cloak (false)
          this.dialogFormVisible = true
        } else {
          this.currentForm.goNext ()
        }
      },
    }
  }

/* provider_data examples ****************************
  emailpass:
  displayName: null
  email: "a@b.co"
  phoneNumber: null
  photoURL: null
  providerId: "password"
  uid: "hrroh1@sns.co.kr"

  google:
  displayName: "Hans Roh"
  email: null
  phoneNumber: null
  photoURL: "https://lh5.googleusercontent.com/-dbbnPbx1Ylg/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rc2wfLC9vWMyR_RAr9oegl1FvQUVg/photo.jpg"
  providerId: "google.com"
  uid: "10414061864"

  kakao:
  birthday: ""
  displayName: "Hans Roh"
  email: "a@b.co"
  gender: ""
  name: ""
  phoneNumber: ""
  photoURL: ""
  providerId: "kakao"
  uid: 128535
********************************************************/


</script>

