<template>
  <div>
    <el-row type="flex" justify="center">
      <el-col class='loginForm'>
        <el-form :model="form" ref="form" :rules="rules" label-width="120px" size="small" label-position='top'>
          <div class='text-center'>
            <h3>Instant Sign In</h3>
          </div>

          <div class='rd-4 loginFields'>
            <el-form-item prop="email" label="Email">
            <el-input v-model="form.email" clearable></el-input>
            </el-form-item>

            <el-form-item prop="password" label="Confirm Email">
            <el-input type="password" v-model="form.password" clearable show-password></el-input>
            </el-form-item>

            <el-form-item class='text-center'>
            <el-button type="primary" @click="submitForm"><span class="w-700">Sign In</span></el-button>
            <el-button @click="resetForm">Reset</el-button>
            </el-form-item>
          </div>
        </el-form>
      </el-col>
    </el-row>
  <div>
</template>

<style scoped>
  .loginForm {
    width: 305px;
  }
  .loginFields {
    border: 1px solid #ddd;
    padding: 16px;
  }
</style>


<script lang="babel">
  export default {
    data () {
      const validateEmail = (rule, value, callback) => {
        if (value !== this.form.email) callback (new Error ('Email does not match'))
        else callback ()
      }
      const rules = {
        email: [
          { required: true, message: 'Please input email address', trigger: 'blur' },
          { type: 'email', message: 'Please input correct email address', trigger: ['blur', 'change'] }
        ],
        password: [
          { required: true, validator: validateEmail, trigger: ['blur', 'change'] }
        ]
      }

      return {
        form: {
          email: '', password: ''
        },
        rules,
      }
    },

    computed: {
      ...mapVuexItems (),
    },

    methods: {
      async submitForm () {
        try {
          await this.$refs.form.validate ()
          try {
            const resp = await axios.post (this.$urlfor ('loginUrl'), {email: this.form.email})
            location.href = this.context.nextUrl
          } catch (e) {
            this.$unotify ('Sign In Error', this.$traceback (e), 'error')
          }
        } catch (e) {
          this.$traceback (e)
          this.$unotify ('Invalid Form', 'Please review your inputs with red text', 'error')
        }
      },

      resetForm () {
        this.$refs.form.resetFields ()
      },
    },
  }
</script>
