<!DOCTYPE html>
{% macro csrf () %}
  <meta name="csrf" content="{{ was.csrf_token }};{{ was.CSRF_NAME }}">
{% endmacro %}
<html>
  <head>
    {% block head_start %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="512x512" href="/assets/favicons/favicon-512.png">
    <link rel="manifest" href="/manifest.json">

    {% block head %}{% endblock %}
    {% block prefetch %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <style>
      {% block style %}{% endblock %}
    </style>
    {% block head_style %}{% endblock %}
    {% block head_script %}{% endblock %}
    {% block head_end %}{% endblock %}
  </head>

  <body>
    {% block noscript %}{% endblock %}
    {% block body %}{% endblock %}
    {% block body_trailer %}{% endblock %}
  </body>
</html>
