{% extends "admin/base.html" %}

{% load static i18n custom_admin_menu custom_admin_logo custom_admin_css %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block blockbots %}
    {{ block.super }}
    <style type="text/css">
        {% get_custom_admin_css as css %}
        {{ css|safe }}
        {% include 'admin/custom/style.css' %}
    </style>
{% endblock %}

{% block branding %}
    {% get_custom_logo as brandmark %}
    {% if brandmark %}
        <img src="{% static brandmark %}" alt="logo"/>
    {% else %}
        <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
    {% endif %}
{% endblock %}

{% block nav-global %}
    {% get_admin_menu as menu %}

    {% if menu %}
        <div class="tabs">
            <ul>
                {% for title, item in menu.items %}
                    <li class="{% if item.active %}active{% endif %}{% if item.children|length > 1 %} has-child{% endif %}">
                        <a href="{{ item.url }}">{{ item.title }} {% if item.children|length > 1 %}<span class="arrow"></span>{% endif %}</a>
                        {% if item.children|length > 1 %}
                            <ul>
                                {% for sub in item.children %}
                                    <li><a href="{{ sub.url }}">{{ sub.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% for title, item in menu.items %}
        {% if item.active and item.children|length > 1 %}
            </div>
            <div id="secondary-nav">
                <ul>
                    {% for sub in item.children %}
                        <li class="{% if sub.active %}active{% endif %}"><a href="{{ sub.url }}">{{ sub.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}