{% extends 'framework/layouts/blank.j2' %}

{% block app_layout %}
  <el-header>
    <page-header></page-header>
  </el-header>
  {{ super () }}
  <el-footer>
    <page-footer></page-footer>
  </el-footer>
{% endblock %}

{% block vue_components %}
  {{ component ('layouts/page-header.vue') }}
  {{ component ('layouts/page-footer.vue') }}
{% endblock %}

{% block vue_methods %}
  {{ super () }}
  logout (nextUrl) {

  },
{% endblock %}
