{% extends 'framework/layouts/3piece.j2' %}

{% block app_layout %}
  <page-aside></page-aside>
  <el-container>
    {{ super () }}
  </el-container>

{% endblock %}

{% block vue_components %}
  {{ super () }}
  {{ component ('layouts/page-aside.vue') }}
{% endblock %}
