{% extends 'framework/element-ui.j2' %}

{% block head_style %}
  {{ super () }}
  <link rel="stylesheet" href="/assets/css/custom.css">
{% endblock %}

{% block body_trailer_script %}
  {{ super () }}
  <script src="/libs/element-ui-umd-locale-{{ was.app.config.LOCALE or 'en'}}.js"></script>
  <script>
    ELEMENT.locale(ELEMENT.lang.{{ was.app.config.LOCALE or 'en'}})
  </script>
{% endblock %}

{% block modals %}{% endblock %}


